<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Days Till Today</title>
</head>
<body>
<h1>Calculate days till today</h1>
<form method="POST" action="">
    {% csrf_token %}
    <label for="from_date">Enter date</label>
    <input
            type="date"
            name="from_date"
            id="from_date"
            max="9999-12-31"
            min="0001-01-01"
            required>
    <button type="submit">Submit</button>
</form>
{% if output %}
    {{ output }}
{% endif %}
</body>
</html>
